/* ============================= */
/* RESPONSIVE MOBILE FIX */
/* ============================= */

@media (max-width: 768px) {

    body {
        font-size: 15px;
    }

    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .hero {
        padding: 30px 15px;
        text-align: center;
    }

    .hero h2 {
        font-size: 22px;
    }

    .hero p {
        font-size: 14px;
    }

    .products {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .card {
        width: 100%;
    }

    .contact {
        padding: 25px 15px;
        text-align: center;
    }

    .contact h2 {
        font-size: 22px;
    }

    .contact p {
        font-size: 14px;
    }

    .testimoni,
    .faq {
        padding: 20px 15px;
    }

    .testi-box {
        padding: 15px;
    }

    .faq-item h4 {
        font-size: 16px;
    }

    .faq-item p {
        font-size: 14px;
    }

    .buy-section {
        padding: 30px 0;
    }

}
